footer {
    margin-top: 98px;
}

.footer__wrapper {
    background-color: map-get($mau, xanhdam);
}

.copyr__wrapper {
    background-color: map-get($mau, xanhla);
    .copyr_text {
        text-align: center;
        width: 100%;
        padding: 19px 0;
        font-size: 14px;
        color: map-get($mau, main);
    }
}

.footer__logo {
    margin-top: 22px;
    width: 166.07px;
    height: 123.21px;
}

.footer__info {
    padding: 31.9px 0 38px 0;
    .address__item {
        color: map-get($mau, xamfooter);
        font-size: 14px;
        margin-bottom: 3.1px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}