footer
	.footer__wrapper
		.container
			.row.row__footer
				.col-2
					img.footer__logo(src="./assets/logo-footer/logo.png", alt="")
					.footer__info
						.address__item
							p Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh
						.address__item
							p Phone: 028. 38266766
						.address__item
							p Fax: 028. 38266766
						.address__item
							p Email: info@antingroup.vn
				.col-2
					.footer__info
						.footerI__wrapper
							.footer__Iitem
								p.footerInfo__item VỀ AN TÍN GROUP
							.address__item
								p Thông Điệp CT HĐQT
							.address__item
								p Tuyên Ngôn Giá Trị
							.address__item
								p Tuyên Ngôn Chiến Lược
							.address__item
								p Công Ty Thành Viên
							.address__item
								p Khách Hàng
				.col-3
					.footer__info
						.footerI__wrapper
							.footer__Iitem
								p.footerInfo__item LĨNH VỰC HOẠT ĐỘNG
							.address__item
								p Lĩnh Vực Truyền Thông
							.address__item
								p Lĩnh Vực Du Lịch
							.address__item
								p Lĩnh Vực Công Nghệ
							.address__item
								p Lĩnh Vực Đầu Tư
							.address__item
								p Lĩnh Vực Du Học
							.address__item
								p Lĩnh Vực Đào Tạo
				.col-2
					.footer__info
						.footerI__wrapper
								.footer__Iitem
									p.footerInfo__item THÔNG TIN
								.address__item
									p Sự Kiện An Tín
								.address__item
									p Video Sự Kiện An Tín
								.address__item
									p Tuyển Dụng
								.address__item
									p Thư Viện Ảnh
								.address__item
									p Cơ Hội Nghề Nghiệp
								.address__item
									p Liên Hệ
				.col-3
					.footer__info
						.footerI__wrapper
								.footer__Iitem
									p.footerInfo__item ĐĂNG KÍ NHẬN TIN
								.address__item
									p Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức quan trọng của An Tín Group tới quý khách
								.address__item
									.address__Iinput
										input(type="text" placeholder="Email")
										.addressInput__button
											span XÁC NHẬN
								.address__item
									.footer__Isocial
										a.footer__social
											img(src="./assets/social/Group 9.png", alt="")
										a.footer__social
											img(src="./assets/social/Path 8.png", alt="")
										a.footer__social
											img(src="./assets/social/Group 18.png", alt="")
										a.footer__social
											img(src="./assets/social/Group 92.png", alt="")
	.copyr__wrapper
		p.copyr_text Copyright © 2019 An Tin Group. All rights reserved. Designed by Web4G Solutions