footer
	.footer__wrapper
		.container
			.row.row__footer
				.col-2
					img.footer__logo(src="./assets/logo-footer/logo.png", alt="")
					.footer__info
						.address__item
							p Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh
						.address__item
							p Phone: 028. 38266766
						.address__item
							p Fax: 028. 38266766
						.address__item
							p Email: info@antingroup.vn
				.col-2
				.col-3
				.col-2
				.col-3
	.copyr__wrapper
		p.copyr_text Copyright © 2019 An Tin Group. All rights reserved. Designed by Web4G Solutions