header
	.container-fluid
		.header__wrapper
			.header__top
				a.header__T-item Tuyển Dụng
				a.header__T-item Liên Hệ
				a.header__T-item Tiếng Việt
				.header__search
					input(type="text" placeholder="")
					.search__icon
						img(src="./assets/search/iconfinder-icon.svg", alt="")
			.header__bottom
				a#click X
				a.header__B-item TRANG CHỦ
				a.header__B-item GIỚI THIỆU
				a.header__B-item CỔ ĐÔNG
				a.header__B-item LĨNH VỰC ĐẦU TƯ
				a.header__B-item DỰ ÁN
				a.header__B-item TIN TỨC - SỰ KIỆN
				a.header__B-item THƯ VIỆN
			.header__logo
				img(src="./assets/logo-banner/logo.png", alt="")
			.header__shareholder
					h4 TRANG CHỦ / CỔ ĐÔNG
					h1 CỔ ĐÔNG
