section
	.container
		.list__wrapper
			.row.row__mrleft
				.col-9.blog__wrapper
					.row.blog__rowItem
						.list__item.mr
							img(src="./assets/list-news/folha-de-pagamento_essa.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item
							img(src="./assets/list-news/jean-philippe-delberghe-Dw67tbZKix0-unsplash.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item.mr
							img(src="./assets/list-news/iStock-1046680326.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item
							img(src="./assets/list-news/jean-philippe-delberghe-Dw67tbZKix0-unsplash.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item.mr
							img(src="./assets/list-news/Captacion-imobiliaria.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item
							img(src="./assets/list-news/affluent-abundance-abundology.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item.mr
							img(src="./assets/list-news/1-11.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						.list__item
							img(src="./assets/list-news/gettyimages-1086230286_002.png", alt="")
							.text__posion
								.bg
									p TGĐ An Tín Travel Group: “Thương trường là kho báu”
							.list__Idate
								p 29/02/2020 
							.list__Itext
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
						ul.pagination
							li.page-item.active
								a.page-link 1
							li.page-item
								a.page-link 2
							li.page-item
								a.page-link 3
							li.page-item
								a.page-link ...
							li.page-item
								a.page-link 30
							li.page-item
								a.page-link 
									img(src="./assets/dot/noun_Next_69375.svg", alt="")
				.col-2.aside__wrapper
					.aside__inner
						.aside__list
							.aside__title 
								h2 Cổ đông
							.aside__item.active
								.asideItem__icon
									img.svg(src="./assets/icon_aside/noun_news_1537014.svg", alt="")
								.sideItem__text
									p Bản tin đầu tư
							.aside__item
								.asideItem__icon
									img.svg(src="./assets/icon_aside/noun_news_1537014.svg", alt="")
								.sideItem__text
									p Quy chế quảng trị
							.aside__item
								.asideItem__icon
									img.svg(src="./assets/icon_aside/noun_news_1537014.svg", alt="")
								.sideItem__text
									p Điều lệ công ty
							.aside__item
								.asideItem__icon
									img.svg(src="./assets/icon_aside/noun_news_1537014.svg", alt="")
								.sideItem__text
									p Báo cáo thường niên
							.aside__item
								.asideItem__icon
									img.svg(src="./assets/icon_aside/noun_news_1537014.svg", alt="")
								.sideItem__text
									p Báo cáo tài chính
							.aside__item
								.asideItem__icon
									img.svg(src="./assets/icon_aside/noun_news_1537014.svg", alt="")
								.sideItem__text
									p Đại hội cổ đông thường niên
						.aside__hotnews
							.aside__Htitle 
								h2 TIN MỚI
							.aside__Hitem
								.asideItem__Himages
									img(src="./assets/aside_hotnews/Finance-Banking.png", alt="")
								.asideItem__Htext
									p TGĐ An Tín Travel Group: Thương trường là kho báu.
							.aside__Hitem
								.asideItem__Himages
									img(src="./assets/aside_hotnews/Airplane1.png", alt="")
								.asideItem__Htext
									p TGĐ An Tín Travel Group: Thương trường là kho báu.
							.aside__Hitem
								.asideItem__Himages
									img(src="./assets/aside_hotnews/apartment-architectural-design-architecture-279614.png", alt="")
								.asideItem__Htext
									p TGĐ An Tín Travel Group: Thương trường là kho báu.
							.aside__Hitem
								.asideItem__Himages
									img(src="./assets/aside_hotnews/Finance-Banking.png", alt="")
								.asideItem__Htext
									p TGĐ An Tín Travel Group: Thương trường là kho báu.
							.aside__Hitem
								.asideItem__Himages
									img(src="./assets/aside_hotnews/4-9.png", alt="")
								.asideItem__Htext
									p TGĐ An Tín Travel Group: Thương trường là kho báu.