section
	.container
		.list__wrapper
			.row
				.col-10 
					.list__item.mr
						img(src="./assets/list-news/folha-de-pagamento_essa.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item
						img(src="./assets/list-news/jean-philippe-delberghe-Dw67tbZKix0-unsplash.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item.mr
						img(src="./assets/list-news/iStock-1046680326.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item
						img(src="./assets/list-news/jean-philippe-delberghe-Dw67tbZKix0-unsplash.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item.mr
						img(src="./assets/list-news/Captacion-imobiliaria.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item
						img(src="./assets/list-news/affluent-abundance-abundology.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item.mr
						img(src="./assets/list-news/1-11.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
					.list__item
						img(src="./assets/list-news/gettyimages-1086230286_002.png", alt="")
						.text__posion
							.bg
								p TGĐ An Tín Travel Group: “Thương trường là kho báu”
						.list__Idate
							p 29/02/2020 
						.list__Itext
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
				.col-2 1